.containerLink {
    margin: 0;
    padding: 15px 15px 15px 25px;
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0 0 8px rgba(63, 62, 62, 0.5);
}

.link {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;
    text-decoration: none;
    color: rgba(39, 38, 38, 0.5);
}

.activelink {
    color: rgb(158, 12, 146);
}